php_flag display_errors On

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^departamentos/([0-9]+)$ controller/departamento.php?idDepto=$1 [L]
RewriteRule ^departamentos$ controller/departamento.php [L]

RewriteRule ^clientes$ controller/cliente.php [L]
RewriteRule ^clientes/([0-9]+)$ controller/cliente.php?idCliente=$1 [L]

RewriteRule ^categoria$ controller/categoria.php [L]
RewriteRule ^categoria/([0-9]+)$ controller/categoria.php?idCategoria=$1 [L]
RewriteRule ^categoria/c=([0-9]+)$ controller/categoria.php?idCiudad=$1 [L]